.popup {
    position: absolute;
    border: 1px solid black;
    left:0;
    right:0;
    margin:auto;
    top: 40%;
    border-radius: 10%;
    width: 200px;
    height: 200px;
    z-index: 100;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
}
.left {
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-right {
    
}
#current-word {
    margin: 10px;
}

button {
    margin: 0;
    margin-right: 10px;
    height: fit-content;
}